body {
  margin: 0%;
  font-family: "SF Pro Text", sans-serif;
  transition: 0.5s;
}

.navbar {
  height: 80px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
}

.navbar-left svg {
  width: 50;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-left a {
  text-decoration: none;
}

.navbar-left * {
  padding: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right * {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.navbar-right img {
  width: 50px;
  height: 50px;
}

#dark-mode-button {
  cursor: pointer;
}

@-webkit-keyframes theme-change {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes theme-change {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.theme-change {
  -webkit-animation-name: theme-change;
          animation-name: theme-change;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.sideLink {
  display: flex;
  flex-direction: column;
  bottom: 2%;
  left: 3%;
  position: absolute;
}

.sideLink * {
  font-family: "SF Pro Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  transition-duration: 0.3s;
}
.sideLink *:hover {
  opacity: 0.9;
  color: #555555;
}

.personalSign {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 2s;
}

.img-change {
  -webkit-animation: img-change 0.5s;
          animation: img-change 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes img-change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes img-change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#intro-page {
  font-family: "SF Pro Text", sans-serif;
  background: #242424;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: index 100;
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(10, 1fr);
  cursor: wait;
}

.intro-name {
  grid-area: 35/1/-2/-2;
  align-items: center;
  justify-items: center;
  font-family: "SF Pro Text", sans-serif;
  font-size: clamp(100px, 100px + 10vw, 400px);
  font-weight: bolder;
  color: white;
  display: grid;
  -webkit-animation: fade-in 0.3s ease-out;
          animation: fade-in 0.3s ease-out;
}

.welcome-words {
  grid-area: 7/8/10/11;
  font-family: "SF Pro Text", sans-serif;
  font-size: clamp(5px, 5px + 2vh, 30px);
  font-weight: bolder;
  color: white;
  display: grid;
  -webkit-animation: fade-in 1s ease-out;
          animation: fade-in 1s ease-out;
}

.intro-me {
  grid-area: 30/2/32/5;
  font-family: "SF Pro Text", sans-serif;
  font-size: clamp(5px, 5px + 1vw, 30px);
  font-weight: bolder;
  color: white;
  display: grid;
  -webkit-animation: fade-in 0.3s ease-out;
          animation: fade-in 0.3s ease-out;
}

.intro-sign-img {
  height: 100%;
  min-height: 512px;
  justify-self: center;
  grid-area: 1/1/-1/-1;
  -webkit-animation: fade-in 1s ease-out;
          animation: fade-in 1s ease-out;
}

@-webkit-keyframes fade-in {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}/*# sourceMappingURL=homepage.css.map */